#leftMenu {
    width: 110px;
    float: left;
    text-align: center;
    padding: 20px 0;
    height: 100%;
    background: #95A5A6;
}
#leftMenu a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #ddd;
    height: 60px;
    line-height: 60px;
    background: #7F8C8D;
}
#leftMenu a:hover {
    color: #fff;
    background: #34495E;
}
#rightWrap {
    width: -webkit-calc(100% - 150px);
    width: calc(100%-110px);
    float: left;
    padding: 20px 0;
    margin-left: 20px;
}