#leftMenu {
    width: 110px;
    float: left;
    text-align: center;
    padding: 20px 0;
    height: 100%;
    background: #95A5A6;
}
#leftMenu a {
    display: block;
    text-decoration: none;
    font-weight: bold;
    color: #ddd;
    height: 60px;
    line-height: 60px;
    background: #7F8C8D;
    font-size: 18px;
}
#leftMenu a:hover,
#leftMenu a.active {
    color: #fff;
    background: #34495E;
}
#rightWrap {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;    
    padding: 20px 20px 0 20px;
    margin-left: 110px;
}